version: '3'
services:
  frontend:
    build: ./react-app
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_URL=http://backend:8000
    depends_on:
      - backend

  backend:
    build: ./app
    ports:
      - "8000:8000"
    environment:
      - ORIGINS=http://localhost:3000,http://frontend:3000