pip3 install textblob
pip install passlib python-jose[cryptography] databases[sqlite] sqlalchemy
pip install bcrypt
pip install pandas matplotlib scikit-learn
pip3 insatll openai
pip3 install llama_index