pip3 install textblob
pip install passlib python-jose[cryptography] databases[sqlite] sqlalchemy
pip install bcrypt
pip install pandas matplotlib scikit-learn
pip3 insatll openai
pip3 install llama_index
pip install --only-binary :all: fastapi[all]
pip install llama_agents
pip install pydantic
pip3 install llama_index.llms.ollama
pip3 install llama_index.embeddings.ollama-0.1.2
pip3 install llama-index-vector-stores-qdrant
